<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EthMetricsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MetricsWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>526BFF1F2C14C6F200825BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526BFF302C14C6F300825BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526BFF3A2C14C6F300825BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526BFF512C14C79F00825BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
